<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/admin/courses.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="newstudent">
      <div class="container">
        <form class="newstudent__form" action="/newCourse" method="POST">
          <h2 class="newstudent__form--title">Add new course</h2>
          <div class="newstudent__form--data">
            <div class="newstudent__form--data-box">
              <label>Course's name</label>
              <input type="text" name="courseName" placeholder="name" />
            </div>
            <div class="newstudent__form--data-box">
              <label>Course price</label>
              <input type="number" name="price" placeholder="price" />
            </div>
            <div class="newstudent__form--btn">
              <button type="submit">Add</button>
            </div>
          </div>
        </form>
      </div>
    </section>

    <section class="studentlist">
      <div class="container">
        <div class="studentlist__body">
          <h1 class="studentlist__title">Our courses</h1>

          <table>
            <thead>
              <tr>
                <th style="width: 6%">№</th>
                <th style="width: 37%">Course name</th>
                <th>Course's price</th>
                <th></th>
              </tr>
            </thead>
            <tbody style="width: 100%">
              <% courses?.map((course, index) => { %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= course?.courseName %></td>
                <td><%= course?.price %></td>
                <td
                  class="delete-course-btn delete-btn"
                  style="width: 10%"
                  data-id="<%= course?.id %>"
                >
                  <a href="/admin">
                    <img
                      data-id="<%= course?.id %>"
                      src="images/delete.png"
                      alt="delete foto"
                      width="18"
                      height="19"
                    />
                  </a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </body>
</html>
