<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/admin/group.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="newstudent">
      <div class="container">
        <form class="newstudent__form" action="/newGroup" method="POST">
          <h2 class="newstudent__form--title">Add new group</h2>
          <div class="newstudent__form--data">
            <div class="newstudent__form--data-box">
              <label>Group's name</label>
              <input type="text" name="groupName" placeholder="name" />
            </div>
            <div class="newstudent__form--data-box">
              <label>Group's teacher</label>
              <select class="newstudent__course" name="teacherName">
                <option value="fwfwf" disabled selected>Teachers</option>
                <% teachers?.map((teacher) => { %>
                <option value="<%= teacher?.username %>">
                  <%= teacher?.username %>
                </option>
                <% }) %>
              </select>
            </div>
            <div class="newstudent__form--btn">
              <button type="submit">Add</button>
            </div>
          </div>
        </form>
      </div>
    </section>

    <section class="studentlist">
      <div class="container">
        <div class="studentlist__body">
          <h1 class="studentlist__title">Our groups</h1>
          <!-- colspan="2" -->
          <table>
            <thead>
              <tr>
                <th style="width: 6%">№</th>
                <th style="width: 20%">Group name</th>
                <th>Group's teacher</th>
                <th>Course</th>
                <th style="width: 6%"></th>
              </tr>
            </thead>
            <tbody style="width: 100%">
              <% groups?.map((group, index) => { %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= group?.groupName %></td>
                <td><%= group?.teacherName %></td>
                <td><%= group?.course?.courseName %></td>
                <td
                  class="delete-group-btn delete-btn"
                  style="width: 10%"
                  data-id="<%= group?.id %>"
                >
                  <a href="/admin">
                    <img
                      data-id="<%= group?.id %>"
                      src="images/delete.png"
                      alt="delete foto"
                      width="18"
                      height="19"
                    />
                  </a>
                </td>
              </tr>
              <% }) %>
              <!-- <tr>
                <td>2</td>
                <td>Ali</td>
                <td>SMM</td>
                <td class="delete-teacher-btn">
                  <img
                    src="images/delete.png"
                    alt="delete foto"
                    width="18"
                    height="19"
                  />
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Ali</td>
                <td>SMM</td>
                <td class="delete-teacher-btn">
                  <img
                    src="images/delete.png"
                    alt="delete foto"
                    width="18"
                    height="19"
                  />
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </body>
</html>
